#image {
    margin-top: 0;
    margin-left: 17%;
    margin-right: auto;
    width: 500%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    border-right: 0.5px solid white;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

li a:hover {
    background-color: black;
    color: white;
}

li:last-child {
    border-right: none;
}

#navigation {
    margin-left: 20px;
    margin-right: 20px;
}

.bilder {
    background-color: darkgrey;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery h2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 50px;
    margin-left: 39%;
}

.gallery-item {
    display: flex;
    position: relative;
    width: 300px;
    margin: 10px auto;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: translateX(-300px);
}

.info-box {
    position: absolute;
    left: 0;
    top: 25%;
    font-family: "Titillium Web", sans-serif;
    color: black;
    padding: 16px;
    box-sizing: border-box;
    width: 300px;
    height: 50%;
    display: none;
    text-align: justify;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .info-box {
    display: block;
    opacity: 1;
}

@media (max-width: 600px) {
    .gallery-item {
        flex-direction: column;
        width: 100%;
    }

    .info-box {
        display: block;
        margin-top: 8px;
        width: 100%;
        height: auto;
        position: static;
    }

    .gallery-item img {
        margin-bottom: 8px;
    }
}